.Wallet {}

.Wallet-menu {
  height: calc(100vh - 50px);
  position: fixed;
  width: 180px;
}

.Wallet-content {
  overflow: hidden;
  width: calc(100% - 180px);
  margin-left: 180px;
  padding: 16px;
  box-sizing: border-box;
  position: relative;
}

.Wallet-menu__link {
  display: block;
  width: 100%;
  height: 100%;
  color: #333;
}

.Wallet-balance__label {
  display: block;
}

.Wallet-balance__text {
  font-weight: bold;
  color: #333;
  line-height: 2;
  border: 1px solid;
  padding: 0 10px;
}

